*.apk
*.aar
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/
misc.xml

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

app/src/main/assets/datasets
app/src/main/assets/models